.diploma-first h4{
	color: var(--primaryColor);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.diploma-first p{
	font-size: 22px;
    text-align: justify;
    line-height: 30px;
    margin:0;
}
.diploma-first ul{
	margin:0;
    padding:0;
    list-style: disc;
    padding-right: 25px;
	margin-top:20px
}
.diploma-first ul li{
	font-size: 20px;
}
.diploma-second .headline{
  	background-size: contain;
  	background-position: center;
  	background-repeat: no-repeat;
	background-attachment: fixed;
}
.diploma-second .headline .headline-title{
	display: grid;
    justify-content: center;
    text-align: center;
}
.diploma-second .headline .headline-title h2{
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 900;
  margin-bottom: 50px;
}
.diploma-second .counter-block-border{
	position: relative;
}
.diploma-second .counter-block{
	padding:0 20px;
}
.diploma-second .counter-block-border .number-text{
	padding:0 50px;
}
.diploma-second .counter-block-border:before,
.diploma-second .counter-block-border:after{
	content: "";
	position: absolute;
	top: 70px;
	background: var(--primaryColor);
	width: 3px;
	height: 220px;
}
.diploma-second .counter-block-border:before{
	right: 0;
}
.diploma-second .counter-block-border:after{
	left: 0;
}
.diploma-second .number h2{
	font-size: 75px;
    font-weight: 900;
    color: var(--secondaryColor);
}
.diploma-second .number-title{
	font-size: 30px;
    font-weight: 700;
}
.diploma-second .thm-btn,
.diploma-sixth .thm-btn{
    border-radius:30px;
    font-size: 14px;
    text-transform: uppercase;
    padding:12px 30px;
}
	
}
.diploma-third .modules-title h2,
.diploma-fourth .instructor-title h2,
.diploma-sixth .diploma-sixth-title h2{
	font-size: 50px;
    font-weight: 600;
    color: var(--primaryColor);
    text-transform: uppercase;
}
.diploma-third .accordion-item{
	border:none;
	background: transparent;
}
.diploma-third .accordion-button:not(.collapsed){
	background: transparent;
	color:#000;
}
.diploma-third .accordion-button{
	border:none;
	box-shadow: none;
	padding-right: 30px;
	font-size: 30px;
    font-weight: 600;
	padding:0 30px 0 0;
	text-align:right;
}
.diploma-third .accordion-button::after{
	content: "";
    background: url(../img/acc-arrows.png);
    background-position: center!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
	top:8px;
    right: 0;
    position: absolute;
	transform: rotateY(180deg);
}
.diploma-third .accordion-body .accordion-button::after{
	top:2px;
}
.diploma-seventh .accordion-button::after{
	top:5px;
	transform: rotateY(180deg);
}
.diploma-third .accordion-body {
	padding-top: 0;
}
.diploma-third .accordion-body a{
	color:var(--primaryColor);
}
.diploma-third .accordion-body a:hover{
	color:var(--secondaryColor);
}
.diploma-third .accordion-body .accordion-button::after{
	content: "";
    background: url(../img/sub-acc-arrows.png);
}
.diploma-third .accordion-button:not(.collapsed)::after{
	transform:rotate(-270deg); ;
}

.diploma-third .accordion-body .accordion-button{
	border:none;
	box-shadow: none;
	padding-top: 0px; padding-left: 5px; padding-bottom: 0; padding-right: 30px;
	font-size: 20px;
    font-weight: 300;
	text-align:right;
}
.diploma-fourth .instructor-title h2,
.diploma-sixth .diploma-sixth-title h2{
	margin-bottom: 50px;
}
.diploma-fourth .instructor-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.diploma-fourth .instructor-item .instructor-img{
	background: var(--primaryColor);
	padding:12px;
	border-radius:50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.diploma-fourth .instructor-item .instructor-img img{
	border-radius:50%;
	height: 150px;
   width: 150px;
}
.diploma-fourth .instructor-item .instructor-details {
    margin-right: 35px;
}
.diploma-fourth .instructor-item .instructor-details h3{
	    text-align: center;
    color: #fff;
    display: inline-block;
    padding:10px 50px;
    border-radius:50px;

}
.diploma-fourth .instructor-item .instructor-details p{
	font-size: 13px;
    max-width: 60%;
}

.certificate h2 {
  margin:0;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primaryColor);
  font-size: 50px;
  line-height: 100px;
}

.certificate p {
  color: #222;
  width: 90%;
  font-size: 19px;
  line-height: 1.3;
}
.certificate p span{
	font-size: 22px;
	font-weight: 700;
	color:#000;
}
.certificate > .container,
.certificate > .container > .row,
.certificate > .container > .row .col-md-8,
.certificate > .container > .row .col-md-4 {
  height: 100vh;
}

.certificate > .container > .row .col-md-4 {
  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: center;
}

.certificate .thm-btn {
  border-radius:30px;
  font-size: 14px;
  text-transform: uppercase;
  padding:12px 30px;
}

.certificate-img {
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.diploma-sixth .headline-item{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
	min-height: 110px;
}
.diploma-sixth .headline-item .icons img{
	width: 80px
}
.diploma-sixth .headline-details{
	margin-right: 15px;
}
.diploma-sixth .headline-details h3{
	text-transform: capitalize;
	font-size: 20px;
}
.diploma-sixth .headline-details p{
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 500;
    line-height: 1.2;
}
.diploma-seventh{
	position: relative;
}
.diploma-seventh .diploma-seventh-title h2,
.programs .headline-title h2,
.diplomas .headline-title h2,
.diploma-third .modules-title h2,
.programs-section .headline-title h2{
	  font-size: 50px;
    font-weight: 600;
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.diploma-seventh .accordion-button {
    border: none;
    box-shadow: none;
    padding-right: 30px;
    font-size: 25px;
    font-weight: 500;
}

/*---------------------------------------*/
.programs .programs-blocks{

}
.programs .program-item{
	background: var(--primaryColor);
    padding:20px;
    border-radius:10px;
    min-height: 395px;
}
.programs .program-item .program-item-img{

}
.programs .program-item .program-item-img img{
	width: 100%;
	border-radius:10px;
}
.programs .program-item .program-item-content{
	text-align: center;
    padding:20px 0 0;
}
.programs .program-item .program-item-content h3,
.programs .program-item .program-item-content p{
	color: #fff;
}
.programs .program-item .program-item-content h3{
		font-size: 24px;
    font-weight: 600;
}
.programs .thm-btn{
	border-radius:10px;
	background-image: -webkit-gradient(linear,right top,left top,from(var(--primaryColor)),color-stop(51%, var(--secondaryColor)),to(var(--primaryColor)));
    background-image: linear-gradient( to left, var(--primaryColor) 0%, var(--secondaryColor) 51% );
}
.diplomas{
}
.diplomas .diploma-item{
    background: var(--primaryColor);
    border-radius:10px;
}
.diplomas .diploma-item .diploma-item-img img{
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.diplomas .diploma-item .diploma-item-content{
    text-align: center;
    padding:20px;
    min-height: 320px;
}
.diplomas .diploma-item .diploma-item-content h3{
    color:#fff;
    font-size: 25px;
  font-weight: 600;
}
.diplomas .diploma-item .diploma-item-content p{
    color:#fff;
    font-size: 18px;
    text-align: center;
}
.diplomas .diploma-item .diploma-item-content .category{
    text-align: center;
}
.program-bullets{
	list-style:disc;
}